.card {
  height: 100%;
  &__block {
    @include size(100%, 100%);
    @include flex(flex-end, flex-start, column, nowrap);
    position: relative;
    min-height: 700px;
    @include media-d-m($screen-desktop) {
        @include flex(center, center, column, nowrap);
        min-height: 600px;
      }
  }
  &__block:nth-child(1) {
    background-image: url(./../assets/images/card-img-bg-1.png);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  &__block:nth-child(2) {
    background-image: url(./../assets/images/card-img-bg-2.png);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  &__inner {
    @include max-width();
    @include size(100%, 100%);
    padding: 0 3%;
    margin-bottom: 100px;
    @include media-d-m($screen-desktop) {
        @include flex(center, center, row, nowrap);
        margin: 0;
      }
  }
  &__item--left {
    float: left;
    @include media-d-m($screen-desktop) {
        float: none;
      }
  }
  &__item--right {
    float: right;
    @include media-d-m($screen-desktop) {
        float: none;
      }
  }
}
