.header {
  @include flex(center, center, column, nowrap);
  @include size(100%, 100%);
  background-image: url(./../assets/images/header-img.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  &__inner {
    @include max-width();
    padding: 265px 0 135px 0;
    
    @include media-d-m($screen-iphone-plus){
      padding: 200px 0 135px 0;
    }
    @include media-d-m($screen-iphone-5){
      padding: 100px 0 100px 0;
    }
  }
  &__title {
    margin-bottom: 15px;
    @include media-d-m($screen-iphone-plus) {
      @include text($h36, 700, $white, $f-Josefin);
    }
  }
  &__subtitle {
    margin-bottom: 50px;
  }
  &__search {
    @include flex(center, center, row, nowrap);
    max-width: 650px;
    margin: 0 auto;
    margin-bottom: 120px;
    @include media-d-m($screen-tablet) {
      padding: 0 3%;
      @include flex(center, center, column, nowrap);
    }
  }
  &__input {
    @include size(75%, 60px);
    max-width: 500px;
    text-align: center;
    @include media-d-m($screen-tablet) {
      margin-bottom: 20px;
      width: 100%;
    }
    &::placeholder {
      @include text($h14, 400, $gray, $f-Josefin);
      padding: 0 5px;
      letter-spacing: 2.8px;
    }
  }
  &__button {
    width: 25%;
    border: 2px solid white;
  }
  &__button-svg {
    font-size: 20px;
    margin-left: 10px;
  }
}
