.nav {
  background-color: $blue-violet;
  &__inner {
    @include flex(space-between, center, row, wrap);
    @include max-width();
    min-height: 80px;
    padding: 0 3%;
    @include media-d-m($screen-tablet-large) {
      @include flex(center, center, column, wrap);
      padding: 28px 0;
    }
  }
  &__logo {
    font-size: $h24;
    @include media-d-m($screen-tablet-large) {
       margin-bottom: 20px;
      }
  }
  &__menu {
    @include media-d-m($screen-tablet-large) {
      @include flex(center, center, column, wrap);
    }
  }
  &__item {
    @include text($h14, 400, $white, $f-aleo);
    display: inline-block;
    text-transform: uppercase;
    @include media-d-m($screen-tablet-large) {
      display: block;
      margin-bottom: 8px;
    }
  }
  &__item:not(:last-of-type) {
    margin-right: 42px;
    @include media-d-m($screen-tablet-large) {
      margin-right: 0;
    }
  }
}
