<footer class="footer">
    <article class="footer__banner banner">
        <h2 class="footer__title title">Bhromaon</h2>
        <h2 class="footer__subtitle subtitle">Safe Travel Anywhere</h2>
    </article>
    <div class="sicial">
        <ul class="social__items">
            <li class="social__item"></li>
            <li class="social__item"></li>
            <li class="social__item"></li>
            <li class="social__item"></li>
            <li class="social__item"></li>
        </ul>
    </div>
</footer>