<footer class="footer">
    <article class="footer__banner banner">
        <h2 class="footer__title title"><a href="#header">Bhromaon</a></h2>
        <h2 class="footer__subtitle subtitle">Safe Travel Anywhere</h2>
    </article>
    <div class="footer__social">
        <ul class="footer__items">
            <li class="footer__item"><a href="#"><i class="fab fa-facebook-f"></i></a></li>
            <li class="footer__item"><a href="#"><i class="fab fa-twitter"></i></a></li>
            <li class="footer__item"><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
            <li class="footer__item"><a href="#"><i class="fab fa-youtube"></i></a></li>
            <li class="footer__item"><a href="#"><i class="fab fa-pinterest"></i></a></li>
        </ul>
    </div>
</footer>