<header class="header">
  <div class="header__inner">
    <article class="header__banner banner">
      <h2 class="header__title title">Bhromaon</h2>
      <h3 class="header__subtitle subtitle">Safe Travel Anywhere</h3>
    </article>
    <div class="header__search">
        <input class="header__input" type="search" name="header__search" id="header__search" placeholder="Search Your Travel Destination">
        <button class="button header__button">Search
            <span class="icon-search header__button-svg"></span>
        </button>
    </div>
    <a href="#why" class="header__scroll-block scroll-block">
        <h2 class="scroll-block__title">Scroll Down</h2>
        <span class="icon-angle-left scroll-block__svg"></span>
    </a>
  </div>
</header>
