<div class="how-it-work">
    <div class="how-it-work__inner">
        <div class="how-it-work__line">
            <img src="./assets/images/how-it-work-line.png" alt="" class="how-it-work__img">
        </div>
        <ul class="how-it-work__items">
            <li class="how-it-work__item"><span class="icon-search"></span></li>
            <li class="how-it-work__item"><span class="icon-check"></span></li>
            <li class="how-it-work__item"><span class="icon-like2"></span></li>
        </ul>
        <ul class="how-it-work__items-txt">
            <li class="how-it-work__item-txt">Search Places</li>
            <li class="how-it-work__item-txt">Select Places</li>
            <li class="how-it-work__item-txt">Book & Enjoy</li>
        </ul>
    </div>
</div>