<div class="what-our-tourist-say">
    <article class="what-our-tourist-say__inner">
        <h2 class="what-our-tourist-say__title">What Our Tourist Say</h2>
        <div class="what-our-tourist-say__comment">
            <img src="./assets/images/what-our-tourist-say-img.png" alt="" class="what-our-tourist-say__img" />
            <div class="what-our-tourist-say__banner">
                <h2 class="what-our-tourist-say__banner-title">Sam Sumon</h2>
                <h2 class="what-our-tourist-say__banner-subtitle">
                    <span class="what-our-tourist-say__svg"><i class="fas fa-quote-left"></i></span>
                    But I must explain to you how all this mistaken idea of account to
                    denouncinpleasure and praising pain But I must explain to you how all
                    this mistaken idea of account to nai denouncing pleasure and praising
                    pain was account born and I account will give you a complete account
                    of the system was account born and I account will give you a nai the
                    complete account of the system
                </h2>
            </div>
        </div>
</div>
</article>
</div>