<div class="why-choose-us">
  <div class="why-choose-us__inner">
    <article class="why-choose-us__banner">
      <h2 class="why-choose-us__title">Why Choose Us</h2>
      <h3 class="why-choose-us__subtitle">
        Tion and dislike men who are so beguiled and demoralized by desire by
        the charms of pleasure of the moment, so blinded by desire, that they
        cannot foresee
      </h3>
      <h3 class="why-choose-us__subtitle">
        Ddislike men who are so beguiled and demoralized by the charms of
        pleasure of the moment, so blinded by desire, that.
      </h3>
      <button class="button button--hover why-choose-us__button">
          <span class="button__text">Explore Places</span>
      </button>
    </article>
    <div class="why-choose-us__gallery">
        <img src="./assets/images/why-choose-us-img-1.png" alt="" class="why-choose-us__img">
        <img src="./assets/images/why-choose-us-img-2.png" alt="" class="why-choose-us__img">
    </div>
  </div>
</div>
