//color

$white: #ffffff;
$blue-violet: #5474fd;
$gray: #999999;
$card-bg: #232323;
$card-f: #e8e8e8;
$comment-bg: #333333;
$coral: #ff6363;
$blue: #00a2ff;

//font

$f-aleo: 'Aleo', serif;
$f-Josefin: 'Josefin Sans', sans-serif;

//font-size

$base-font-size: 16px;
@function calcRem($size) {
  $remSize: $size / $base-font-size;
  @return #{$remSize}rem;
}

$h48: calcRem(48px);
$h36: calcRem(36px);
$h24: calcRem(24px);
$h22: calcRem(22px);
$h20: calcRem(20px);
$h16: calcRem(16px);
$h14: calcRem(14px);
